<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MysqlDb" connectionString="RGF0YWJhc2U9VmF0VHVfQkhYSDtVaWQ9cm9vdDtQd2Q9MTIzNDU2O1BvcnQ9MzMwNjtDaGFyc2V0PXV0Zjg7U3NsTW9kZT1ub25l"/>
  </connectionStrings>
  <appSettings>
    <add key="host2" value="127.0.0.1" />
    <add key ="host" value="10.43.28.7"/>
    <add key="nguoi_dung_id" value="1" />
    <add key="parent_id" value="1" />
    <add key="id_donvi" value="0" />
    <add key="sodienthoai" value="0" />
    <add key="ma_don_vi" value="VP" />
    <add key="ten_don_vi" value="Viễn thông Hà Tĩnh" />
  </appSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>