<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="host" value="113.160.178.20" />
    <add key="db" value="hth_hsba" />
    <add key="username" value="uhsba" />
    <add key="password" value="phth12356" />

    <add key="oracle_host" value="10.82.14.33"/>
    <add key="oracle_servicename" value="VPDT"/>
    <add key="oracle_username" value="vpdt_hatinh_catp"/>
    <add key="oracle_password" value="vpdthatinh"/>
  </appSettings>
</configuration>